*.zip
**/logs/
**/*.log
**/node_modules/
**/bower_components/
**/tmp/
**/dist/
**/build/
**/coverage/
**/*.db
xsecret.txt
**/secret_settings.json
**/___*
codemirror-rollup/editor.bundle.js
codemirror-rollup/editor.bundle.min.js
codemirror-rollup/
git-server/
linux-service/
mysql-ubuntu/
nginx-ubuntu/
xray-deploy/
xray-living/
zipplay/
builtins/
/jb/578/
/jb/tdh-105/
**/not-in-git/